.carousel-inner{
    width:100%;
     height: 500px !important;
     position: absolute;
}

@media screen and (max-width: 600px){
    .carousel-inner{
        width:100%;
         height: 220px !important;
         position: relative;
    }
}

