.navbarItems{
  background: #9CCC5A;
  height: 70px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.navbar-logo img{
  width: 30%;
  height: 25%;
  margin-left:50px;
  

}
.nav-menu{
  display: grid;
  grid-template-columns:repeat(5,auto);
  grid-gap:10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right:2rem;
}
.nav-links{
  color:#202D3D;
  text-decoration: none;
  padding: 0.5rem 0.6rem;
  font-size: 1.5rem;
}
.nav-links:hover{
  background-color: #8D8A88;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  text-decoration: none;
  color:#000;
}
.fa-bars{
  color: #fff;
  
}
.fa-times{
  color: #fff;

}
.menu-icon{
  display: none;
 
}

@media screen and (max-width: 600px){
  .navbarItems{
    position: relative;
  }
  .nav-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    position: absolute;
    top: 80px;
    left:-100%;
    opacity:1;
    transition: all 0.5s ease;
  }
  .nav-menu.active{
    background: #fff;
    left:0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-links{
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    display:table;
  }
  .nav-links:hover{
    background-color: #E7EAED;
    border-radius: 0;
  }
 
  .menu-icon{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%,35%);
    font-size: 1.8rem;
    cursor: pointer;
    
  }
  .navbar-logo img{
    width: 25%;
    height: 20%;
    position: relative;
    top: 0;
    padding-bottom: 5px;
    margin-left: 0 !important;
    
  
  }


}

